@import "tailwindcss/preflight";
@import "tailwindcss/utilities";
@tailwind utilities;


/* Brilho dourado suave */
h1 {
  text-shadow: 0 0 10px rgba(212, 175, 55, 0.4);
}

/* Efeito de rachaduras douradas — adicione uma textura */
body {
  background-color: #1C1C1C;
  background-image: url('/imgs/gold-cracks.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
}
